
<div class="mainCont">
    <div class="divBlanco">
      <div class="homeHead">
        <div class="row">
  
          <div class="col">
            <div *ngIf='user'>
                <img [src]="user.avatar || '../../assets/imgs/Avatar_generico.png'" id="avatarPerfil">
              </div>
            </div>
            
            <div class="col-8 padding" *ngIf='_us.user' >
              
              <b>{{_us.user.nick | titlecase}} </b>
              <div>
              <span> {{_us.user.status | titlecase}} </span>
            
            </div>
          </div>
        </div>

      </div>
    </div>
  
    <div class="divBlanco marto15">
      <div class="row">
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="Buscar amiwo" [(ngModel)]="query" disabled>
           <!-- NgModel must be imported by @angular/forms-->
        </div>
  
        <div class="col">
          <img class="iconadd" src="../../assets/imgs/cora_add.png" alt="agregar" (click)="open(content)">
        </div>
      </div>
      <hr>
        
      <h4 *ngIf="user"> 
        Amigos Conectados: {{user.friends.length}} / {{user.friends.length}}
       </h4>
       
       <ng-container *ngIf="user">
          <app-contact 
          class="col-md-12" 
          *ngFor="let us of user.friends"
          [uid]="us">
          </app-contact>
       </ng-container>

    </div>
  </div>

  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar amigo</h4>
        <button type="button" class="close" aria-label="Close" 
        (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div>
         <b>Ingresa Email:</b>
         <input type="email" class='form-control' placeholder="email" 
         [(ngModel)]="friendEmail" 
         (keyup.enter)="sendRequest()">
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" 
        (click)="sendRequest()">Save</button>
      </div>
    </ng-template>
    
  
    
    <hr>
    
    <pre>{{closeResult}}</pre>
  
  
  


