
<div *ngIf="contact" routerLink="/chat/{{contact.uid}}">
  <ng-container *ngIf="contact.status">
    <img class="icon" src="../assets/imgs/{{contact.status}}.png" alt="corazon">
  </ng-container>
   
    <ng-container *ngIf="!contact.status">
      <img class="icon" src="../assets/imgs/offline.png" alt="corazon">
    </ng-container>

    {{ contact.nick }}  {{ contact.sub_nick }}
    <small> ~ {{contact.email}} </small>
</div>