/* You can add global styles to this file, and also import other style files */
   
    .padding{
        padding:5% 0 0 5%
    }
    .center{
        text-align: center !important; 
        /* important hace que la clase sea primordial si es que existen otra con el same nombre */
    }

    .marto15{
        margin-top: 15px;
    }
    .marbot15{
        margin-bottom: 15px;
    }
    .pato45{
        padding-top: 45px;
    }

    .divisor{
        margin-top: 74px;
    }
    
    .divBlanco{
        /* border: 1px solid rgba(255, 255, 255, .75); */
        padding: 3px 3px 0px 3px;
        /* background-color: #ffffff; */
    }

    img.icon{
        width: 47px;
        background-color: #f8e7f4;
        border-radius: 50%;
    }
    img.iconadd{
        width: 47px;
        border-radius: 50%;
    }
    .homeHead{
        background-color: rgba(255, 255, 255, .50)
    }
    .avatarLive{
        background: rgb(231, 231, 231);
        /* text-align: center; */
        padding: 5%;
        border-radius: 10px;
        border: 1px solid rgb(219, 217, 217);
        display: inline-block;
    }

    .mainCont{
        background: rgba(230,85,130,1);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,85,130,1)), color-stop(61%, rgba(251,166,225,1)), color-stop(88%, rgba(252,236,252,1)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top, rgba(230,85,130,1) 0%, rgba(251,166,225,1) 61%, rgba(252,236,252,1) 88%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(top, rgba(230,85,130,1) 0%, rgba(251,166,225,1) 61%, rgba(252,236,252,1) 88%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top, rgba(230,85,130,1) 0%, rgba(251,166,225,1) 61%, rgba(252,236,252,1) 88%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, rgba(230,85,130,1) 0%, rgba(251,166,225,1) 61%, rgba(252,236,252,1) 88%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e65582', endColorstr='#ffffff', GradientType=0 );
        background: -moz-linear-gradient(top, rgba(230,85,130,1) 0%, rgba(251,166,225,1) 61%, rgba(252,236,252,1) 88%, rgba(255,255,255,1) 100%);
    }

    /* @-webkit-keyframes fondo {
        0%   {background-color: #f591c8; }
        25%  {background-color: #fbc9ee; }
        50%  {background-color: #fbddf6; }
        75%  {background-color: #fbc9ee; }
        100% {background-color: #f591c8; }
    }
    @keyframes fondo {
        0%   {background-color: #f591c8;}
        25%  {background-color: #fbc9ee;}
        50%  {background-color: #fbddf6;}
        75%  {background-color: #fbc9ee;}
        100% {background-color: #f591c8;}
    } */

    #avatarPerfil{
        border: 2px solid rgba(94, 236, 94);
        width: 80px;
        max-width: 105px;
        background-color: #ffffff;
    }

    input[type='file']{
        display: none;
    }

    .custom-file-upload{
        background-color: white;
        color: black;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        border: 2px solid #f44336; /* red */
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
    .custom-file-upload:hover{
        background-color: #f44336;
        color: white;
    }
    #save:hover{
        color:white;
    }

    .shaker{
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

    .btn-primary.btnPrincipal{ 
        color: #ffffff;
        background-color: #e65582;
        border: 1px solid #ffffff;
        
      }
      .btn-primary.btnPrincipal:active {
        background-color: #ffffff;
        color: #e65582;
      }
      .btn-primary.btnPrincipal:hover{
           color: #ffffff; 
           border: 1px solid #e65582;
      }
      
      
